.paper{
    padding: 20px 20px;
    margin: 50px;
    text-Align: center;
    border-radius: 15px !important;
    
}
.topic1{
    font-size: 25px !important;
}
.btn{
    align-items: center;
    justify-content: center;
    background-color: #1b5e20 !important ;
    border-radius: 8px !important;
    border: 0px;
    color: white !important;
    height: 40px;
    width: 30%;
}
.title{
    flex-grow: 1;
    margin-top: 25px !important;
    margin-left: 60px !important;
    font-size: 30px !important;
    color: white !important;
    
}
.container{
    flex-wrap: 1;
    background-color: #ede7f6 !important;
    width: 98.93vw;
    height: 50vh;
    
}
.app-bar{
    background-color: #aa00ff !important;
    height: 90px;
}

.image{
    width: 200px !important;
    height: 200px !important;
}
.topic2{
    text-align: left;
    font-size: 25px !important;
    
}